<div class="header">
  <div class="row">
    <div class="col-md-9">
      <h1 style="text-align: center;">Keycloak test project</h1>
    </div>
    <div class="col-md-3" ali="end">
      <h4><a href="#" (click)="logout()">Logout</a></h4>
    </div>
  </div>
</div>
