<div>
  <app-header></app-header>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="card">
      <mat-card-content>
        {{ this.tokenWrap }}
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
   <pre>
        {{ this.tokenInfo | json}}
      </pre>
    </mat-card>


  </div>
</div>


